::-webkit-scrollbar {
  width: 5.4px;
  background-color: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  background-color: #606266;
  border-radius: 3px;
}

::-webkit-scrollbar-button {
  display: none;
}

.flex-grow {
  flex-grow: 1;
  min-width: 5px;
}

@media (max-width: 330px) {
  .el-slider__runway.show-input,
  .config_radio-fix-size {
    display: none;
  }
}
